
body {
  font-family: "Noto Sans TC", "Helvetica", sans-serif;
  background-color: #fff;
  color: #333;
  max-width: 720px;
  margin: 2em auto;
  padding: 1em;
  line-height: 1.7;
}
a {
  color: #567;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup[data-fn] {
  position: relative;
  cursor: pointer;
  color: #999;
  font-size: 0.8em;
}
.tooltip {
  position: absolute;
  background: #fefefe;
  border: 1px solid #ccc;
  padding: 1em;
  max-width: 480px;
  min-width: 320px;
  white-space: normal;
  z-index: 10;
  top: 1.4em;
  left: 0;
  font-size: 0.95em;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  display: none;
  line-height: 1.5;
}
sup[data-fn]:hover .tooltip {
  display: block;
}
.footnote {
  display: none;
}
